@import url("fonts/nexa_lightfree_macroman/stylesheet.css");
@import url("fonts/nexa_boldfree_macroman/stylesheet.css");

/* Adaptivity */
@media (max-width: 960px) { /* Phones */
    .nav {
        display: none;
    }
    .nav-mobile {
        display: block;
        font-family: "Nexa Bold";
        position: absolute;
        justify-content: right;
        align-items: center;
        height: 96px;
        width: 100vw;
        /* background-color: #00000080; */
        pointer-events: none;
        z-index: 10;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
    }
    .article-body {
        margin: 0 32px;
    }
}

@media (max-width: 1280px) and (min-width: 960px) {
    .article-body {
        margin: 0 10% !important;
    }  
}

@media (min-width: 960px) { /* Widescreen */
    .nav-mobile {
        display: none;
    }
    .nav {
        display: flex; 
        font-family: "Nexa Bold";
        position: absolute;
        justify-content: center;
        align-items: center;
        line-height: 32px; 
        width: 100vw;
        z-index: 10;
    }
    .article-body {
        margin: 0 20%;
    }
}

/* Document */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 25, 49);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: "Nexa Bold";
    color: white;
}

a {
	text-decoration: none;
	text-decoration-color: white;
}

/* ParticlesJS */
#particles, #particles > canvas {
    width: 100vw;
    height: 100vh;
    z-index: 0;

    position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* Desktop navigation */
.nav {
    font-family: "Nexa Bold";
    position: absolute;
    justify-content: center;
    align-items: center;
    line-height: 32px; 
    width: 100vw;
    z-index: 10;
    pointer-events: none;
}

.navlink {
    font-size: 1em;
    margin: 0 3rem;
    color: white;
    position: relative;
    text-decoration: none;
    z-index: 10;
    pointer-events: auto;
}

.navlink:hover {
    color: white;
}

.navlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: white;
    visibility: hidden;
    /* -webkit-transform: scaleX(0); */
    transform: scaleX(0);
    /* -webkit-transition: all 0.5s ease-in-out 0s; */
    transition: 0.3s ease-in-out;
}
  
.navlink:hover::before {
    visibility: visible;
    /* -webkit-transform: scaleX(1); */
    transform: scaleX(1);
}

.navlink.placeholder {
    display: block;
    margin: 0;
    
    transition: 1s ease-in-out width;
}

.navlink.placeholder[pos="center"] {
    width: 0;
}

.navlink.placeholder[pos="top"] {
    width: 256px;
}

/* Mobile navigation */
.arrow {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.arrow[visible="true"] {
    cursor: pointer;
    pointer-events: auto;
    opacity: 1;
}

.arrow-container {
    height: 32px;
    width: 32px;
    background-image: url("img/arrow_back_white_24dp.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.bars {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
}

.bars-container {
    height: 32px;
    width: 32px;
}

.bars-container > span {
    position: absolute;
    height: 2px;
    width: 20px;
    margin-left: 6px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.bars-container > .top {
    margin-top: 8px;
}

.bars-container > .middle-front, .bars-container > .middle-back {
    margin-top: 16px;
}

.bars-container > .bottom {
    margin-top: 24px;
}

.nav-mobile-links > .navlink::before {
    bottom: 0;
}

.nav-mobile[active="true"] > .bars > .bars-container > .top {
    transform: scaleX(0);
}

.nav-mobile[active="true"] > .bars > .bars-container > .middle-front {  
    transform: rotate(45deg);
}

.nav-mobile[active="true"] > .bars > .bars-container > .middle-back {
    transform: rotate(-45deg);
}

.nav-mobile[active="true"] > .bars > .bars-container > .bottom {
    transform: scaleX(0);
}

.nav-mobile[active="true"] {
    height: 320px;
}

.nav-mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-mobile-links > .navlink {
    margin: 1rem 0;
}

/* Center Logo */
.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.logo {
    pointer-events: none;
    transition: height 1s ease-in-out;
}

.container.logo[pos="top"] {
    height: 112px;
}

img.logo {
    z-index: 10;
	min-height: 100px;
	max-height: 500px;
	min-width: 225px;
	width: 75%;
	opacity: 1;
	transition: max-width 1s ease-in-out;
    pointer-events: auto;
}

img.logo[pos="center"] {
    max-width: 1125px;
}

img.logo[pos="top"] {
    max-width: 225px;
}

/* Content */
.articles {
    overflow: hidden;
    pointer-events: none;
    transition: transform 1s ease-in-out;
}

.articles[visible="false"] {
    transform: translateY(100vh);
}

.article {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    pointer-events: none;
}

.article[needs-transition="true"] {
    transition: transform 1s ease-in-out;
}

.article[position="center"] {
    transform: none;
}

.article[position="right"] {
    transform: translateX(100vw);
}

.article[position="left"] {
    transform: translateX(-100vw);
}

.article-body > * {
    pointer-events: auto;
}